menu "External sensor"

    config EXTERNAL_SENSOR_PIN
        int "GPIO external sensor pin"
        range 0 36
        default 32
        help
            GPIO pin number to be system calculated distance and speed.

endmenu